<ion-header>
  <ion-toolbar>
    <title>Cadastro</title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-label>nome:</ion-label>
 <ion-input [(ngModel)]= "aluno.nome"></ion-input>
 <br>
 <ion-label >e-mail:</ion-label>
 <ion-input [(ngModel)]= "aluno.email"></ion-input>
 <br>
 <ion-label>cpf:</ion-label>
 <ion-input [(ngModel)]= "aluno.cpf"></ion-input>
 <br>
 <ion-label >RA:</ion-label>
 <ion-input [(ngModel)]= "aluno.ra"></ion-input>
 <br>
 <ion-label >senha:</ion-label>
 <ion-input [(ngModel)]= "aluno.senha"></ion-input>
 <br>
 <ion-button color="danger" href="login" (click)="salvar()">Cadastrar</ion-button>
 <br>
