<ion-header>
 <ion-toolbar>
  <title> Calendário De Avaliações</title>
 </ion-toolbar>
</ion-header>
<ion-content>
<title> Sala</title>
<img src="http://icalendario.pt/media/imprimir/2019/mensal/junho/calendario-junho-2019-turquesa.png">
<ion-title>Marcar:</ion-title>
<ion-radio> Avaliação</ion-radio>
<br>
  <ion-radio>Recuperação</ion-radio>
  <br>
    <ion-radio>Trabalho</ion-radio>
      <br>
      <ion-label>Conteúdo</ion-label>
      <ion-textarea [(ngModel)]="conteudo"></ion-textarea>
<br>
<ion-button> Salvar</ion-button>
<ion-button color="danger"> Excluir</ion-button>
<ion-button color="dark" href="registrar"> Sair</ion-button>
</ion-content>
